<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis/mapper-config.xml"/>
		<property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
	</bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>

	<!--
	1) 스캔할 @Mapper 인터페이스는 다른 인터페이스와 다른 패키지에 두어야 한다.
	2) 동일한 패키지에 둘 경우 다른 인터페이스 타입 주입에 
	   org.apache.ibatis.binding.MapperProxy 가 대입되는 버그 발생
	-->
	<mybatis-spring:scan base-package="com.mycompany.webapp.dao"/>
	
</beans>

