@charset "UTF-8";

.ad__wrapper {
    width: 1300px;
    height: 300px;
    margin-top: 62px;
    float: left;
    margin-left: 50px;
    margin-bottom: 150px;
    
}

.ad__header {
	font-size: 30px;
	padding-bottom: 20px;
}

.ad__header__font {
	font-weight: bolder;
}

.ad_content_box{
	width:1300px;
	height:300px;
	display:flex;
	justify-content: space-around;
}
.ad_content_box>div{
	display:inline-block;
	width:230px;
	height:320px;
	margin:0 10px;
	text-align:left;
	z-index:2;
	
}

.ad_img{
	width:230px;
	height:230px;
	
}
.original_price{
	text-decoration: line-through;
	
}
.sale_price{
	display:inline;
	color: #FB2576;
	width:80px;
	font-size:16px;
	border:none;
	background-color:none;
	
	
}
.ad_title{
	display:block;
	color:black;
	font-weight: bold;
	border:none;
	font-size:16px;
	width:230px;
	
}

.submit{
	border:none;
	background-color:inherit;
}

.submit:hover{
	cursor:pointer;
}
