@charset "UTF-8";

.item {
  width: 1200px;
  height: 380px;
  margin-left: 120px;
  margin-right: 300px;
  padding-top: 75px;
  text-align: center;
  color: #4E4C48;
  font-size: 1.5em;
  background-color: transparent;
}

.scroll__header {
	font-size: 40px;
	float: left;
	padding-bottom: 50px;
	font-weight: bolder;
	padding-top: 100px;
}

.scroll__main {
	font-size: x-large;
	float: left;
	text-align: left;
	line-height: 150%;
}