@charset "UTF-8";

.item {
    width: 1300px;
    height: 380px;
    margin-left: 50px;
    margin-right: 300px;
    text-align: center;
    color: #4E4C48;
    font-size: 1.5em;
    background-color: transparent;
}

.scroll__header {
	font-size: 40px;
	float: left;
	padding-bottom: 50px;
	font-weight: bolder;
	
}

.scroll__main {
	font-size: x-large;
	float: left;
	text-align: left;
	line-height: 150%;
    margin-bottom: 90px;
}