/* head */
.leaderboard .head {
	padding: 11px 13px;
	color: grey;
	font-size: 19px;
	text-align: center;
	font-weight: bolder;
}

.leaderboard .head div {
	display: inline-block;
	margin-left: 4px;
}

#weather_state {
	font-size: 25px;
	font-weight: bolder;
	padding-left: 10px;
}

#weather_icon {
	font-size: 33px;
	padding-left: 10px;
}

#weather_air {
	font-size: 20px;
	word-break: keep-all;
	font-weight: bold;
	color: #6B7280;
	padding-left: 10px;
}

/* body */
.leaderboard .body {
	color: snow;
	font-size: 18px;
}

.section input[id="slide01"]:checked 
	{
	background: #999;
}

.section input[id="slide02"]:checked
	{
	background: #999;
}

.section input[id="slide03"]:checked 
	{
	background: #999;
}

.section input[id="slide04"]:checked 
	{
	background: #999;
}


.leaderboard ol {
	counter-reset: number; /* 定義和初始化計數器 */
}

.leaderboard li {
	padding: 14px;
	display: flex;
}

#floating__banner_1 {
	background: #DBEAFE;
	color: #143601;
	font-weight: bold;
}

#floating__banner_1:hover {
	transform: scale(1.03, 1.03);
	transition: transform .1s;
}

#floating__banner_2:hover {
	transform: scale(1.03, 1.03);
	transition: transform .1s;
}

#floating__banner_3:hover {
	transform: scale(1.03, 1.03);
	transition: transform .1s;
}

#floating__banner_4:hover {
	transform: scale(1.03, 1.03);
	transition: transform .1s;
}

#floating__banner_5:hover {
	transform: scale(1.03, 1.03);
	transition: transform .1s;
	border-radius: 0 0 10px 10px;
}

#floating__banner_2 {
	background: #BFDBFE;
	color: #143601;
	font-weight: bold;
}

#floating__banner_3 {
	background: #93C5FD;
	color: #143601;
	font-weight: bold;
}

#floating__banner_4 {
	background: #60A5FA;
	color: #143601;
	font-weight: bold;
}

#floating__banner_5 {
	background: #3B82F6;
	color: #143601;
	font-weight: bold;
	border-radius: 0 0 10px 10px;
}

.container {
	width: 280px;
	height: auto;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgb(0 0 0/ 35%) 0px 5px 15px;
	position: absolute;
	top: 182%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.place_container {
	color: black;
	width: 280px;
	height: 205px;
	left: 50%;
	top: 85%;
	top: 42%;
	border-radius: 10px;
	box-shadow: rgb(0 0 0/ 35%) 0px 5px 15px;
	position: absolute;
	transform: translate(-50%, -50%);
	z-index: 1;
	text-align: center;
	background-color: white;
}

.place_container img {
	width: 130px;
	height: 130px;
}

.place_con_img {
	display: flex;
	text-align: center;
	width: 280px;
	justify-content: space-around;
	margin: 0 auto;
}

.place_con_img>ul {
	font-size: 0;
	padding-left: 0;
}

.place_con_img>ul>li {
	display: inline-block;
	vertical-align: top;
}

.place_con_img>ul>li>a {
	display: block;
	width: auto;
	text-decoration: none;
	margin: 5px;
}

.place_con_img>ul>li>a .screen {
	width: 130px;
	position: relative;
	overflow: hidden;
}

.place_con_img>ul>li>a .screen .top {
	position: absolute;
	bottom: 150%;
	left: 5px;
	z-index: 10;
	color: #fff;
	font-size: 18px;
	font-weight: 900;
	transition: all .35s;
}

.place_con_img>ul>li>a .screen .bottom {
	position: absolute;
	top: 150%;
	left: 5px;
	z-index: 10;
	color: #fff;
	font-size: 16px;
	transition: all .35s;
}

.place_con_img>ul>li>a .screen img {
	width: 100%;
}

.place_con_img>ul>li>a h3 {
	font-size: 14px;
	text-align: center;
	padding: 20px;
	color: #666;
}

.place_con_img>ul>li>a .screen::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 3;
	opacity: 0;
	transition: all .35s;
}

.place_con_img>ul>li>a:hover .top {
	bottom: 52%;
}

.place_con_img>ul>li>a:hover .bottom {
	top: 52%;
}

.place_con_img>ul>li>a:hover .screen::after {
	opacity: 1;
}

.screen:focus {
	border: none;
}

.place_con_tit {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 15px;
	margin-top: 12px;
	color: grey;
}

.weather_container {
	color: black;
	width: 280px;
	height: 157px;
	/* border: 1px solid black; */
	left: 50%;
	top: -56%;
	border-radius: 10px;
	position: absolute;
	margin-right: 4px;
	transform: translate(-50%, -50%);
	background-color: white;
}

#floatMenu {
	position: absolute;
	width: 200px;
	height: 200px;
	/* left: 70px; */
	top: 280px;
	color: #fff;
	z-index: 10;
	right: 85px;
}

#floatWeather {
	position: absolute;
	width: 260px;
	height: 50px;
	left: 40px;
	top: 150px;
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	color: black;
	z-index: 10;
}

::-webkit-scrollbar {
	display: none;
}

.bx-wrapper img {
	width: 1000px;
	height: 480px;
}

.bx-wrapper {
	border: none;
	box-shadow: none;
	top: 50px;
}

.item {
	width: 1000px;
	height: 200px;
	margin: 50px auto;
	padding-top: 75px;
	background: rgba(255, 85, 0, .7);
	text-align: center;
	color: #4E4C48;
	font-size: 1.5em;
	z-index: 2;
}

a#MOVE_TOP_BTN {
	position: fixed;
	right: 2%;
	bottom: 50px;
	display: none;
	z-index: 999;
}

a.top {
	position: fixed;
	bottom: 50px;
	display: none;
	left: 3%;
}

a.top img {
	width: 50px;
	height: 50px;
}

#news-container {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

#news-container ul li div {
	background: transparent;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #6B7280;
}

/* @media ( max-width :1600px) {
 

	
	#floatMenu {
		display: none;
	}
}  */