@charset "UTF-8";

.container_top {
	text-align: center;
}

.container {
	width: 1000px;
	min-height: 800px;
	margin: auto;
}


.mypage_title {
	text-align: center;
}

.start_date_mypage {
	margin: 0 auto;
	width: 150px;
}

.end_date_mypage {
	margin: 0 auto;
	width: 30px;
	
}

.profile {
	width: 980px;
	border-bottom: 2px solid #A4A4A4;
	padding: 20px;
	height: 180px;
	margin: auto;
}

.profile_img {
	float: left;
	border: 1px solid black;
	width: 160px;
	height: 160px;
	margin: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

.profile_image {
	width: 100%;
	height: 100%;
}

.profile_info {
	float: left;
	margin: 0 20px 0 40px;
	text-align: left;
	font-size: 18px;
}

.profile_info p {
	margin-left: 0;
}

.profile_update {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

.openBtn {
	cursor: pointer;
}

.updateBtn {
	cursor: pointer;
	border: none;
	box-shadow: 1px 1px 1px 0 black;
	border-radius: 3px;
	width: 100px;
	height: 28px;
	background-color: #3B82F6;
	color: white;
	font-size: 15px;
}

.updateBtn:hover {
	background-color: #205295;
}

.mytravel {
	width: 1040px;
	margin: 30px 0;
	min-height: 1000px;
}

.card {
	width: 200px;
	height: 220px;
	border: 1px solid black;
	float: left;
	margin: 20px;
	padding: 20px 5px 2px 5px;
}

.card:hover {
	box-shadow: 4px 4px 10px #BDBDBD;
}

.card.last {
	border: 1px dashed black;
}

.travel_tit {
	font-size: 25px;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: black;
}

.category {
	background-color: #68B984;
	width: 120px;
	margin: auto;
	padding: 2px;
	margin-top: 10px;
	border-radius: 15px;
	color: white;
	border-radius: 15px;
}

.category.a {
	background-color: #FED049;
}

.category.b {
	background-color: #3D5656;
}

.icons {
	margin-top: 40px;
	float: right;
	margin-right: 15px;
}

.views, .publish {
	width: 20px;
	margin-left: 10px;
	margin-right: 3px;
	vertical-align: middle;
}

.views {
	padding-bottom: 6px
}

.add {
	height: 40px;
	margin-top: 60px;
	cursor: pointer;
}

.insert_btn {
	width: 40px;
	height: 40px;
	border: none;
	background-color: white;
	float: left;
	cursor: pointer;
}

.add_img {
	width: 45px;
}

.add_label {
	line-height: 50px;
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal .bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
	position: absolute;
	background-color: #fff;
	width: 400px;
	height: 450px;
	padding: 10px 15px 15px 15px;
}

.modalBox button {
	display: block;
	width: 70px;
}

.hidden {
	display: none;
}

.follower {
	width: 100%;
	height: 35px;
	font-size: 20px;
	border-bottom: 1px solid black;
}

.box {
	width: 380px;
	height: 360px;
	overflow: scroll;
	padding: 0 10px 10px 10px;
	overflow: scroll;
}

.modal_ul {
	display: block;
	list-style-type: none;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	text-align: left;
}

.modal_li {
	list-style-type: none;
	padding:5px;

}

.block {
	float: right;
	cursor: pointer;
	border: none;
	box-shadow: 1px 1px 1px 0 black;
	border-radius: 3px;
	width: 100px;
	height: 26px;
	background-color: #3B82F6;
	color: white;
	font-size: 13px;
	margin-top: 5px;
}

.close {
	float: right;
	width: 20px;
	height: 20px;
	text-align: center;
}

.closeBtn:after {
	content: "\00d7";
	font-size: 20px;
}

.follower_img {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.follower_id {
	display: inline-block;
	line-height: 40px;
	vertical-align: top;
	cursor: pointer;
}

::-webkit-scrollbar {
	display: none;
}

.modal_logo {
	width: 100px;
	height: 35px;
	float: left;
}

.follower_tit {
	line-height: 30px;
	margin-right:70px;
}

.search img {
	width: 25px;
	height: 25px;
	padding: 3px;
	cursor: pointer;
	margin-top: 3px;
	
}

.search {
	border: 1px solid black;
	display: inline-flex;
	border-radius: 16px;
	width: 380px;
	height: 33px;
	margin: 5px 0;
}

.select {
	border: none;
	padding: 5px;
	border-radius: 17px;
	cursor: pointer;
	width: 330px;
	margin-left: 5px;
}

.select:focus {
	outline: 0;
}