@charset "UTF-8";

.container_top {
	text-align: center;
}


.container {
	width: 1000px;
	min-height: 800px;
	margin: auto;
	text-align: center;
}

.mypage_title {
	text-align: center;
}

.profile {
	width: 980px;
	border-bottom: 2px solid #A4A4A4;
	padding: 20px;
	height: 180px;
	margin: auto;
}

.profile_img {
	float: left;
	border: 1px solid black;
	width: 160px;
	height: 160px;
	margin: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

.profile_image {
	width: 100%;
	height: 100%;
}

.img_input_form {
	margin-top: -40px;
}

.btn-upload {
  width: 170px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-upload:hover {
	background: rgb(77,77,77);
    color: #fff;
}

#file {
  display: none;
}


.imgBtn_submit {
	display: none;
}

.user_update {
	width: 100px;
	height: 28px;
	cursor: pointer;
	border: none;
	box-shadow: 1px 1px 1px 0 black;
	border-radius: 3px;
	width: 100px;
	height: 28px;
	background-color: #3B82F6;
	color: white;
	font-size: 15px;
}

.user_update:hover {
	background-color: #205295;
}

.imgBtn_update {
	padding-left: 18px;
	cursor: pointer;
}

.file_update_container {
	width: 100px;
	height: 30px;
	overflow: hidden;
	cursor: pointer;
	border: none;
	box-shadow: 1px 1px 1px 0 black;
	border-radius: 3px;
	width: 100px;
	height: 28px;
	background-color: #3B82F6;
	color: white;
	font-size: 15px;
	float: left;
	margin-top: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	
}

.file_update_container:hover {
	background-color: #205295;
	cursor: pointer;
}

.imgBtn {
	cursor: pointer;
	border: none;
	box-shadow: 1px 1px 1px 0 black;
	border-radius: 3px;
	width: 100px;
	height: 28px;
	background-color: #3B82F6;
	color: white;
	font-size: 15px;
	float: left;
	
	
}

.imgBtn:hover {
	background-color: #205295;
}
.imgBtn_delete {
	cursor: pointer;
	border: none;
	box-shadow: 1px 1px 1px 0 black;
	border-radius: 3px;
	width: 100px;
	height: 28px;
	background-color: #EF4444;
	color: white;
	font-size: 15px;
	text-align: center;
}
.imgBtn_delete:hover {
	background-color: #ab1325;
}

.img_button {
	float: left;
	margin: 100px 0 0 20px;
}

.update_form {
	margin: auto;
	margin-top: 30px;
	width: 900px;
	flex-direction: column;
	text-align: left;
}

.input_div {
	margin-top: 20px;
}

.input_div button {
	margin-top: 40px;
}

.account_tit {
	font-size:25px;
	font-weight:500;
}

.profile_lab {
	width: 150px;
	display: inline-block;
}

.input {
	display: inline-block;
	height: 25px;
	
}
.input:focus {
	outline:0;
}

::-webkit-scrollbar {
	display: none;
}