@charset "UTF-8";

.container_top {
	text-align: center;
}

.container {
	width: 1000px;
	min-height: 1000px;
	margin: auto;
	text-align: left;
}
.list_tit{
	font-size:30px;
	font-weight:bold;
	margin-top:15px;
}

.select {
	height: 34px;
	margin-right: 5px;
	width: 100px;
	border-radius: 5px;
	border: 2px solid #dfdfdf;
	padding: 3px;
}

.search {
	float: right;
}

.search_bar {
	height: 30px;
	padding: 0;
	margin: 0;
	width: 250px;
	border-radius: 5px;
	border: 2px solid #dfdfdf;
}

.search_btn {
	width: 30px;
	height: 30px;
	padding: 0;
	vertical-align: middle;
	background-color: white;
	border:none;
}

.search_img {
	width: 20px;
	height: 20px;
}

.category {
	margin-top: 10px;
}

.test_obj input[type="radio"] {
	display: none;
}

.test_obj input[type="radio"]+span {
	display: inline-block;
	border: 1px solid #dfdfdf;
	border-radius: 15px;
	background-color: #ffffff;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	padding: 7px 10px 5px 10px;
	height: 20px;
}

.test_obj input[type="radio"]:checked+span {
	background-color: #3B82F6;
	color: #ffffff;
}

.place {
	border: 2px solid #BDBDBD;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 160px;
	border-radius: 35px;
}

.category_label {
	padding: 5px 10px;
	border: 1px solid #dfdfdf;
	border-radius: 15px;
	background-color: #ffffff;
	text-align: center;
	font-size: 13px;
}

.place_img {
	width: 200px;
	height: 160px;
	float: left;
	margin-right: 50px;
	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
}

.place_list {
	margin-top: 30px;
}

.place_info {
	margin: 30px 0 0 30px;
}

.place_name {
	font-size: 25px;
	margin: 0;
}

.place_area {
	font-size: 15px;
	cursor: default;
}

a {
	text-decoration: none;
	color: black;
}

::-webkit-scrollbar {
	display: none;
}