@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'Pretendard-Regular';
}

.container_top {
	text-align: center;
}

.container {
	margin: auto;
	padding-top: 100px;
	width: 350px;
}

.logo_img {
	width: 200px;
	height: 70px;
	margin: 20px;
}

.wrap_insert {
	float: none;
}

.span {
	font-size: 18px;
	float: left;
	margin: 10px 0;
}

.input_text {
	height: 45px;
	padding: 0 11px;
	font-size: 14px;
	color: #333;
	border: 1px solid #ccc;
	line-height: 45px;
	box-shadow: none;
	margin: auto;
	width: 326px;
}

.wrap_button {
	float: none;
	width: auto;
	margin-top: 19px;
	padding-bottom: 15px;
}

.btn_signup {
	display: block;
	width: 100%;
	background: #3B82F6;
	padding: 17px 0 21px;
	text-align: center;
	color: #fff;
	line-height: 22px;
	font-size: 18px;
	border: none;
	cursor: pointer;
}
.idcheck {
	cursor: pointer;
	border: none;
	box-shadow: 1px 1px 1px 0 black;
	border-radius: 3px;
	width: 90px;
	height: 25px;
	background-color: #3B82F6;
	color: white;
	font-size: 12px;
	float:right;
	margin-top:5px;
	
}

.idcheck:hover {
	background-color: #205295;
}

::-webkit-scrollbar {
	display: none;
}