@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

/* 로그인 실패시 경고글 */
.login_warn{
    margin-top: 30px;
    text-align: center;
    color : red;
}

a {
	text-decoration: none;
}

* {
	font-family: 'Pretendard-Regular';
}

.container_top {
	text-align: center;
}

.container {
	margin: auto;
	padding-top: 100px;
	width: 350px;
}

.logo_img {
	width: 200px;
	height: 70px;
	margin: 20px;
}

.wrap_insert {
	float: none;
}

.input_text {
	height: 55px;
	padding: 0 11px;
	font-size: 14px;
	color: #333;
	border: 1px solid #ccc;
	line-height: 49px;
	box-shadow: none;
	border-bottom: 0;
	margin: auto;
	width: 326px;
}

.input_text.password {
	border-bottom: 1px solid #ccc;
}

.wrap_save {
	overflow: hidden;
	vertical-align: baseline;
	width: 350px;
}

.box_check {
	margin-top: 19px;
	overflow: hidden;
	position: relative;
	float: left;
	font-size: 12px;
	color: #767676;
}

.save_id {
	line-height: 25px;
}

input[type="checkbox" i] {
	background-color: initial;
	cursor: default;
	appearance: auto;
	box-sizing: border-box;
	margin: 3px 3px 4px 4px;
	vertical-align: middle;
}

.icon {
	display: block;
	position: absolute;
	left: 0;
	top: 1px;
	width: 15px;
	height: 15px;
	background:
		url(//cdnimg.melon.co.kr/resource/image/web/member/bg_checkbox_melon.png)
		no-repeat;
	pointer-events: none;
}

.login_info {
	font-size: 12px;
	padding: 5px 2px;
	color: #767676;
	display: inline-block;
	float: right;
	margin: 20px 0;
	text-decoration: none;
}

.login_info a {
	padding: 2px;
	color: black;
}

.signin {
	text-decoration: none;
	color: #767676;
}

.bar {
	color: #ebebeb;
}

.wrap_button {
	float: none;
	width: auto;
}

.btn_login {
	display: block;
	width: 100%;
	background: #3B82F6;
	padding: 17px 0;
	text-align: center;
	color: #fff;
	line-height: 20px;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

.kakao {
	width: 300px;
	height: 50px;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	margin: auto;
	margin-bottom: 20px;
	border: none;
	border-radius: 4px;
	color: rgb(59, 29, 30);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(254, 221, 53);
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	margin: auto;
	margin-bottom: 20px;
	border: none;
	border-radius: 4px;
	color: rgb(59, 29, 30);
	display: flex;
	align-items: center;
	justify-content: center;
}

.kakao:hover {
	cursor: pointer;
}

.kakao_img {
	width: 15px;
	height: 15px;
	margin-right: 3px;
}

.login_path {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 60px;
}

.login_images {
	width: 70px;
	height: 70px;
	background-color: white;
	border: none;
}

.line {
	background-color: #E6E6E6;
	border: 1px solid #E6E6E6;
	margin: 30px 0;
}

::-webkit-scrollbar {
	display: none;
}