@charset "UTF-8";

.slider_img_container {
	 margin: 0px auto;
}

.image_container {
	width: 1000px;
	
}

img {
	display: none;
}

.bx-wrapper {
	margin-top: 2%;
	border: none;
	box-shadow: none;
}

.bx-wrapper img {
	max-width: 1000px;
}

.bx-next {
	display: none;
}

.bx-prev {
	display: none;
}

