@charset "UTF-8";
.main_img{
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 25px -12px;
}
.container_top {
	text-align: center;
}

.container {
	width: 1000px;
	min-height: 1000px;
	margin: auto;
	text-align: left;
}
.list_tit{
	font-size:30px;
	font-weight:bold;
	margin-top:15px;
}

.select {
	height: 34px;
	margin-right: 5px;
	width: 100px;
	border-radius: 5px;
	border: 2px solid #dfdfdf;
	padding: 3px;
	cursor: pointer;
	
}
.select:focus {
	outline: 0;
}

.search {
	float: right;
}
.search_bar:focus {
	outline:0;
}

.search_bar {
	height: 30px;
	padding: 0;
	margin: 0;
	width: 250px;
	border-radius: 5px;
	border: 2px solid #dfdfdf;
}

.search_btn {
	width: 30px;
	height: 30px;
	padding: 0;
	vertical-align: middle;
	background-color: white;
	border: none;
	cursor: pointer;
	
}

.search_img {
	width: 20px;
	height: 20px;
}

.category {
	margin-top: 10px;
    display: inline-flex;
    justify-content: space-between;
    width:1000px;
}

.category span {
	width: 60px;
}

.test_obj input[type="radio"] {
	display: none;
}

.test_obj input[type="radio"]+span {
	display: inline-block;
	border: 1px solid #dfdfdf;
	border-radius: 15px;
	background-color: #ffffff;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	padding: 7px 10px 5px 10px;
	height: 20px;
}

.test_obj input[type="radio"]:checked+span {
	background-color: #3B82F6;
	color: #ffffff;
}

.test_obj a{
	color:#666 !important;
	text-decoration: none;
	
}

.place {
	border: 2px solid #BDBDBD;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 160px;
	border-radius: 35px;
}

.place_img {
	width: 200px;
	height: 160px;
	float: left;
	margin-right: 50px;
	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
	border-right:2px solid #BDBDBD;
}

.place_list {
	margin-top: 30px;
}

.place_info {
	margin: 30px 0 0 30px;
}

.travel_title {
	font-size: 25px;
	margin: 0;
}

.travel_writer {
	font-size: 15px;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.travel_tit {
	margin-bottom: 20px;
}

.scrap {
	cursor: pointer;
	border: none;
	box-shadow: 1px 1px 1px 0 black;
	border-radius: 3px;
	width: 60px;
	height: 28px;
	background-color: #3B82F6;
	color: white;
	font-size: 15px;
}

.scrap:hover {
	background-color: #205295;
}

.icons {
	float: right;
	margin: 10px 30px 55px 10px;
}

.views, .publish {
	width: 20px;
	margin-left: 10px;
	margin-right: 3px;
	vertical-align: middle;
}

.views {
	padding-bottom: 6px
}

.page {
	list-style: none;
	padding: 6px;
	text-align:center;
	width: fit-content;
    margin: auto;

} 
.travel_title .date{
	font-size:15px;
	float:right;
	margin-right:30px;
	color:#666666;
}

::-webkit-scrollbar {
	display: none;
}
.pagebtn{
	text-align:center;
	list-style:none;
	width:fit-content;
	margin: auto;
	margin-bottom:20px;
	
	
}
.pageli{
	display: inline-block;
    width: 35px;
    height: 30px;
    color:#666;
    outline: 0;
    cursor: pointer;
    line-height: 30px;
    border: 1px solid;
    border-radius: 6px;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
                    
                
}
.pageli:hover{
	color:#ffffff;
     background-color: #0366d6;
     border-color: #1b1f2326;
     box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
     transition-duration: 0.1s;
}