<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Out" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5level: %logger{36}.%M() - %msg%n"/>
    </Console>
  </Appenders>
  
  <Loggers>
    <Logger name="com.mycompany.webapp" level="info" additivity="false">
      <AppenderRef ref="Out"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Out"/>
    </Root>
  </Loggers>
</Configuration>
